<form action="#" method="#" >
    目標を選択: <input type="text" name="title" placeholder="目標を選択" required><br>
    今日の記録: <textarea rows="5" cols="30" name="introduction"></textarea><br>
    <input type="submit" value="投稿">
</form>