<% if current_user.nil? %>
  <form action="/signin" method="post">
    <input name="name" placeholder="名前を入力">
    <input name="password" type="password" placeholder="パスワード">
    <input class="form-control col-lg-4" type="submit" value="ログイン">
  </form>
<% end %>