<div class="inline-block relative w-64">
<form action="/goal" method="post" entype="multipart/form-data">
<label class="block">
    目標: <input type="text" name="title" splaceholder="目標を入力" required><br>
</label>
<div class="inline-block relative w-64">
    カテゴリーを選択: <select name="category_id" id="category_id" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
       <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
       <% end %>
    </select><br>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
  </div>
  </div>
    詳細: <textarea rows="5" cols="30" name="introduction"></textarea><br>
    締切: <input tyape="text" name="due_date" placeholder="例:2020-11-22"><br>
    <input type="submit" value="投稿">
</form>
</div>