<section class="center-vertical">
  <div class="container">
    <form class="col-lg-5" action="/signup" method="post" enctype="multipart/form-data">
      <div calss="controls">
        <div class="form-group">
          <input class="form-control input-lg"  name="name" placeholder="名前を入力"><br>
          <input class="form-control input-lg" name="password" type="password" placeholder="パスワードを入力">
          <input class="form-control input-lg" name="password_confirmation" type="password" placeholder="パスワードをもう一度入力"><br>
         <input class="form-control input-lg" name="file" type="file"><br>
        </div>
        <div class="form-group col-lg-4">
          <input class="form-control col-lg-4" type="submit" value="新規登録">
        </div>
      </div>
    </form>
  </div>
</section>