<div class="container">
  <form class="col-lg-5" action="/signin" method="post">
    <div calss="controls">
      <div class="form-group">
        <input name="name" placeholder="名前を入力"><br>
        <input name="password" type="password" placeholder="パスワードを入力">
      </div>
      <div>
        <input type="submit" value="ログイン">
      </div>
    </div>
  </form>
</div>